<div class="container reddit-feed" fxLayout="column" fxLayoutAlign="center center">

  
  <mat-form-field color="accent" fxLayout="row" fxLayoutAlign="left left" class="reddit-feed__page-size-select full-width padding-top-bottom">
    <mat-label>Choose page size</mat-label>
    <mat-select [(value)]="pageSize" (selectionChange)="handlePageChange($event)">
      <mat-option *ngFor="let pageSizeOption of pageSizeOptions" [value]="pageSizeOption">{{pageSizeOption}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="space-between space-between" class="full-width padding-top-bottom">
    <button id="basic" type="button" mat-button (click)="getPreviousPosts()" [disabled]="currentPage === 0">
      Prev
    </button>
    <button id="basic" type="button" mat-button (click)="getNextPosts()">
      Next
    </button>
  </div>

  <mat-card *ngFor="let post of posts" (click)="openDialog(post)" class="card cursor-pointer">
    <mat-card-title>
      {{post.title}}
    </mat-card-title>
  </mat-card>
</div>